* {
    margin: 0;
    padding: 0;
}

body {
    color: #999;
}

.info {
    box-sizing: content-box;
    width: 360px; 
    height: 46px;

    margin: 0 auto;
    margin-top: 40px;

    display: flex;
    flex-wrap: nowrap;
}

.gamer {
    width: 50%;
    height: 30px;

    margin: 2px;
    padding: 0.4rem;

    border-radius: 5px;
    border-style: solid;
    background-color: aqua;
    border-color: cadetblue;

    font-size: 1.6rem;
    text-align: center;
}

.field {
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 40px;

    width: 360px;
    height: 360px;

    border-radius: 10px;
    border-style: solid;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    cursor: url('../img/molot.png'), pointer;
}

.cells {
    box-sizing: border-box;
    margin: 2px;

    border-radius: 5px;
    border-style: solid;
    background-color: aqua;
    border-color: cadetblue;
}
